//*----------> Import Font Family

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@100;300;400;500;700;900&display=swap');

//*----------> Colors

$dark: hsl(0, 0%, 0%);
$light: hsl(0, 0%, 100%);

$yellow: #FBBC04;
$blue: #4285F4;
$red: #EA4335;
$green: #34A853;

$mid: #F3F3F3;
$mid-ft: #A7B2BD;

//*----------> Fonts

$bebas: 'Bebas Neue', sans-serif;
$roboto: 'Roboto', sans-serif;