@use 'variables' as v;
@use 'globals' as g;
@use "mobileNumber";

//*----------> Defaults

body {
    background-color: v.$dark;
    color: v.$light;
}

audio {
    display: none;
}

//*----------> for Tablet

//*----------> Custom CSS Starts Here


//*----------> Header Section

header {

    z-index: 2;

    padding: 0 10vw;

    height: 80px;

    position: relative;

    h2 {
        font-family: v.$roboto;
        text-transform: uppercase;

        cursor: pointer;
    }

    .brand-full-name {

        position: absolute;

        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        margin: 0 auto;
        height: 50%;
        width: 350px;

        background-color: v.$blue;
        color: v.$light;

        border-radius: 0 0 20px 20px;

        background: rgba(255, 255, 255, 0.375);
        box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.125);
        

        p {
            font-family: v.$roboto;
            font-size: 1.2rem;
        }

        
    }

    .time {
        text-align: end;
        
        div {
            font-family: v.$roboto;

            &:nth-of-type(2) {
                color: v.$mid-ft;
            }
        }    
    }
}

//*----------> Main Section

main {
    z-index: 2;

    width: 100vw;
    height: calc(100vh - 160px);
    font-family: v.$bebas;

    line-height: 0.9;

    letter-spacing: 1px;
    position: relative;

    overflow: hidden;

    h3 {
        font-size: 2.5rem;
        margin-bottom: 20px;

        &:nth-of-type(2) {
            margin-top: -15px;
        }
    }

    h2 {
        font-size: 20rem;
        color: v.$yellow;
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 85%);

        transform: translateY(-8px);
        background-image: url(../assets/png/flag.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50% 5px;
        background-clip: text;
        color: transparent;


        &:nth-of-type(2) {
            position: absolute;
            clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 85%);
            color: v.$light;
            transform: translateY(0);
            background-image: url(../assets/png/flag.png);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: 50% 5px;
                background-clip: text;
                color: transparent;
        }
    }

    p {
        font-family: v.$roboto;
        margin-top: -15px;
        text-transform: uppercase;

        color: v.$yellow;
    }
}



//*----------> Footer Section

footer {
    z-index: 2;

    padding: 0 10vw;
    
    height: 80px;

    button {
        background-color: v.$light;
        border: none;

        border-radius: 20px;

        padding: 0.5em 1.5em;

        font-family: v.$roboto;
        font-size: 1rem;
        font-weight: 700;

        text-transform: uppercase;

        cursor: pointer;

        &:hover, &:focus {
            background-color: v.$blue;
        }
    }

    a {
        color: v.$mid-ft;
        font-family: v.$roboto;

        &:hover, &:focus {
            color: v.$light;
        }
    }
}

//*----------> Body Background Animation

.aurora {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: #000;
    z-index: -99;
    opacity: 0.75;

    top: 0;
    left: 0;
}

.aurora:before,
.aurora:after {
    z-index: 1;

    content: '';
    display: block;
    position: absolute;
    width: 1px;
    height: 1px;
    border-radius: 100%;
    opacity: 0.18;


}

.aurora:before {
    box-shadow: 0 0 35vmax 35vmax v.$red;
    animation: hue 5s 0s linear infinite, move1 10s 0s linear infinite;
}

.aurora:after {
    box-shadow: 0 0 35vmax 35vmax v.$blue;
    animation: hue 10s 0s linear infinite, move2 20s 0s linear infinite;
}

@-moz-keyframes hue {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}

@-webkit-keyframes hue {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}

@-o-keyframes hue {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}

@keyframes hue {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}

@-moz-keyframes move1 {
    0% {
        top: 0vh;
        left: 50vw;
    }

    25% {
        left: 0vw;
    }

    50% {
        top: 100vh;
    }

    75% {
        left: 100vw;
    }

    100% {
        top: 0vh;
        left: 50vw;
    }
}

@-webkit-keyframes move1 {
    0% {
        top: 0vh;
        left: 50vw;
    }

    25% {
        left: 0vw;
    }

    50% {
        top: 100vh;
    }

    75% {
        left: 100vw;
    }

    100% {
        top: 0vh;
        left: 50vw;
    }
}

@-o-keyframes move1 {
    0% {
        top: 0vh;
        left: 50vw;
    }

    25% {
        left: 0vw;
    }

    50% {
        top: 100vh;
    }

    75% {
        left: 100vw;
    }

    100% {
        top: 0vh;
        left: 50vw;
    }
}

@keyframes move1 {
    0% {
        top: 0vh;
        left: 50vw;
    }

    25% {
        left: 0vw;
    }

    50% {
        top: 100vh;
    }

    75% {
        left: 100vw;
    }

    100% {
        top: 0vh;
        left: 50vw;
    }
}

@-moz-keyframes move2 {
    0% {
        top: 50vh;
        left: 100vw;
    }

    25% {
        top: 100vh;
    }

    50% {
        left: 0vw;
    }

    75% {
        top: 0vh;
    }

    100% {
        top: 50vh;
        left: 100vw;
    }
}

@-webkit-keyframes move2 {
    0% {
        top: 50vh;
        left: 100vw;
    }

    25% {
        top: 100vh;
    }

    50% {
        left: 0vw;
    }

    75% {
        top: 0vh;
    }

    100% {
        top: 50vh;
        left: 100vw;
    }
}

@-o-keyframes move2 {
    0% {
        top: 50vh;
        left: 100vw;
    }

    25% {
        top: 100vh;
    }

    50% {
        left: 0vw;
    }

    75% {
        top: 0vh;
    }

    100% {
        top: 50vh;
        left: 100vw;
    }
}

@keyframes move2 {
    0% {
        top: 50vh;
        left: 100vw;
    }

    25% {
        top: 100vh;
    }

    50% {
        left: 0vw;
    }

    75% {
        top: 0vh;
    }

    100% {
        top: 50vh;
        left: 100vw;
    }
}

#popupFive, #popupNotComp, #popupNotInSys, #mobNoSuccess {
    font-family: v.$bebas;
    font-size: 8rem;

    position: absolute;

    width: 550px;

    text-align: center;
    line-height: 0.8;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 20px;

    border-radius: 10px;

    z-index: 999;

    color: v.$green;
}

 #popupNotInSys {
    font-family: v.$roboto;

    width: 800px;
    font-size: 3rem;
    line-height: 1;
    text-transform: uppercase;

    p:nth-of-type(2) {
        color: v.$green;
        margin-top: 10px;
        font-size: 2rem;
    }
 }

.warning {
    color: v.$red !important;
}

.hidden {
    display: none;
}

.visibilityHidden {
    visibility: hidden;
}

#helpPopup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 999;

    background-color: v.$light;

    color: v.$dark;

    padding: 20px 30px;

    font-family: v.$roboto;

    border-radius: 10px;

    box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.125);

    .help_header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        gap: 2em;

        border-bottom: 1px solid v.$dark;
        margin-bottom: 10px;

        h2 > span {
            color: v.$yellow;
        }

        p {
            rotate: 45deg;
            font-size: 1.5rem;
            cursor: pointer;
        }
    }

    p {
        margin: 20px 0;
    }
}

//*----------> Registration Page

.reg_container {
    gap: 2em;

    .reg_card {
        
        width: 300px;
        height: 300px;
        background: rgba(255, 255, 255, 0.375);
            box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
            border: 1px solid rgba(255, 255, 255, 0.125);
            border-radius: 10px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.2em;

        cursor: pointer;

        img {
            width: 150px;
            margin-left: 40px;
        }

        h4 {
            font-size: 1.5rem;
            font-weight: 400;
        }

        &:nth-of-type(2) {
            img {
                width: 100px;
                margin-left: 0;
            }
        }
    }
}